.navbar{
    margin: 0;
    height: 80px;
    border: 1px solid black;
    display: flex;
    gap:10%
}

.logo>img{
    height: 80px;
    width: 100%;
    
}


.navbarcenter{
    display: flex;
    width: 35%;
    gap: 60%;
    padding-top: 20px;
    /* border: 1px solid black; */
}
.navbarcenter>span>input{
    width: 300%;
    height: 40px;
    border-radius: 50px;
}


.navbarleft{
    display: flex;
    padding-top: 20px;
    gap:10%
}

.leftbox{
    display: flex;
}